body{
    width:100%;
    font-family: sans-serif;
    background-color: aliceblue;
    border: dashed 2px #5b8bd0;/*点線*/
    box-sizing: border-box;
    margin: 1em;
    padding: 1em;
}

select{
    width: 100%;
}

.btn{
    text-align: center;
    padding: 0.5em 2em 0.5em 2em;
    margin:0.5em 0.2em 0.5em 0.2em;
}

.link{
    text-align: center;
    font-size:0.8em;
}

