body{
    font-family: sans-serif;
    background-color: aliceblue;
}

select{
    width: 100%;
}

.btn{
    text-align: center;
    padding: 0.5em 2em 0.5em 2em;
    margin:0.5em 0.2em 0.5em 0.2em;
}

.link{
    text-align: center;
    font-size:0.8em;
}

