body{
    background-color:#fff
}

/*
h3{
    color:#fff;
    background:#000080;
    text-align: center;
}
*/


p{
    margin: 0.8em;
}

.Work_location, .Field, .Job{
    text-align: center;
}

a.btn{
    display: inline-block;
    padding: 0.5em 2em 0.5em 2em;
    margin:0.5em 0.2em 0.5em 0.2em;
    text-decoration: none;
    background-color: #D8D8D8; /* ボタン色 */
    color:#000;
    border: solid 0.5px #6E6E6E;
    border-radius:10px;
}

a.btn:hover{
    background-color: aqua;
}